.highlight .k { color: #902000 !important; font-weight: bold !important } /* Keyword */
.highlight .kt { color: #902000 !important; font-weight: bold !important } /* Keyword.Type */
.highlight .kr { color: #902000 !important; font-weight: bold !important } /* Keyword.Reserved */
