code { font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important; }

pre {
	font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important;
	border: 1px dashed #ccc !important;
	background-color: #ffffe0 !important;
	margin-left: 20px !important;
}

pre.overview-code-block {
	border: 1px solid #ccc !important;
	background-color: #fff !important;
	margin-left: 0 !important;
}

pre.overview-protected-code-block {
	border: 1px solid #faa !important;
	background-color: #fff !important;
	margin-left: 0 !important;
}

pre.overview-inherited-code-block {
	font-size: smaller !important;
	border: 1px solid #ccc !important;
	background-color: #eee !important;
	margin-left: 0 !important;
}

pre.overview-inherited-protected-code-block {
	font-size: smaller !important;
	border: 1px solid #faa !important;
	background-color: #eee !important;
	margin-left: 0 !important;
}

pre.title-code-block {
	font-size: larger !important;
	border: 1px none !important;
	border-top: solid #ccc !important;
	background-color: #f0f0f0 !important;
	margin-left: 0 !important;
}

a { color: #2980B9 !important; cursor: pointer !important; text-decoration: none !important }
a:hover { color: #3091d1 !important }
a:visited { color: #9B59B6 !important }

code { font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important }

code a { color:#000000 !important; text-decoration: underline !important }
code a:visited:hover { color: #3091d1 !important }
code a:visited { color: #000000 !important }

pre a { color: #000000 !important; text-decoration: underline !important }
pre a:visited:hover { color: #3091d1 !important }
pre a:visited { color: #000000 !important }
