code { font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important }

pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important;
    border: 1px dashed #ccc !important;
    background-color: #ffffe0 !important;
    margin-left: 20px !important;
}

pre.overview-code-block {
    border: 1px solid #ccc !important;
    background-color: #f8f8f8 !important;
    margin-left: 0 !important;
}

pre.overview-protected-code-block {
    border: 1px solid #faa !important;
    background-color: #f8f8f8 !important;
    margin-left: 0 !important;
}

pre.overview-inherited-code-block {
    font-size: smaller !important;
    border: 1px solid #ccc !important;
    background-color: #eee !important;
    margin-left: 0 !important;
}

pre.overview-inherited-protected-code-block {
    font-size: smaller !important;
    border: 1px solid #faa !important;
    background-color: #eee !important;
    margin-left: 0 !important;
}

pre.title-code-block {
	font-size: larger !important;
    border: 1px solid #ccc !important;
    background-color: #f8f8f8 !important;
    margin-left: 0 !important;
}

code.cref a { color: #333 !important }

.target-highlight {
    animation-name: target-highlight-flash;
    animation-duration: 2s;
}

@keyframes target-highlight-flash {
    0%   { box-shadow: none; }
    25%  { box-shadow: 0 0 8px 8px #fec, 0 0 8px 8px #fec inset; }
    100% { box-shadow: none; }
}
