code { font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important }

pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important;
    border: 1px dashed #ccc !important;
    background-color: #ffffe0 !important;
}

pre.doxyrest-overview-code-block {
    border: 1px solid #ccc !important;
    background-color: #f8f8f8 !important;
}

pre.doxyrest-overview-inherited-code-block {
    font-size: smaller !important;
    border: 1px solid #ccc !important;
    background-color: #eee !important;
}

pre.doxyrest-title-code-block {
	font-size: larger !important;
    border: 1px solid #ccc !important;
    background-color: #f8f8f8 !important;
}

code.cref a { color: #333 !important }

.doxyrest-target-highlight {
    animation-name: doxyrest-target-highlight-flash;
    animation-duration: 2s;
}

.doxyrest-code-target.doxyrest-target-highlight {
    animation-name: doxyrest-code-target-highlight-flash;
    animation-duration: 2s;
}

@keyframes doxyrest-target-highlight-flash {
    0%   { box-shadow: none; }
    25%  { box-shadow: 0 0 4px 4px #fca, 0 0 4px 4px #fca inset; }
    100% { box-shadow: none; }
}

@keyframes doxyrest-code-target-highlight-flash {
    0%   { box-shadow: none; }
    25%  { box-shadow: 0 0 16px 16px #fca; }
    100% { box-shadow: none; }
}
